{% extends 'home.html' %}

{% block content %}
  <div id="content_container"></div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    var cities = {{ cities|tojson }};
  </script>

  <script src="{{ url_for('static', filename='js/address_line.js') }}"></script>
  <script src="{{ url_for('static', filename='js/address_form_panel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/turf_list_panel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/helpers.js') }}"></script>

  <script type="text/javascript" charset="utf-8">

    webix.ready(function() {

      webix.ui({
        container: "content_container",
        type: "wide",
        rows: [
            addrFormPanel, turfList
        ]
      });

      addrFormPanelCtlr.init();
      turfListPanelCtlr.init();
    });

  </script>
{% endblock %}
