{% extends 'home.html' %}

{% block styles %}
  {{ super() }}
	<style>
    .toolbarRadio .webix_label_right { color: white; }
    .check {
      float: right;
      margin: 7px;
    }
  .check:hover {
    color: #3498db;
  }
	</style>
{% endblock %}

{% block content %}
  <div id="content_container"></div>
{% endblock %}

{% block scripts %}
  {{ super() }}

  <script>
    var jurisdictions = {{ jurisdictions|tojson }};
    var filename = "";
  </script>

  <script src="{{ url_for('static', filename='js/ajax_dao.js') }}"></script>
  <script src="{{ url_for('static', filename='js/helpers.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jurisdiction_panel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/ward_panel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/precinct_panel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/streets_panel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/house_nums_panel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/con_query_panel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/csv_export_table.js') }}"></script>

  <script type="text/javascript" charset="utf-8">

    webix.ready(function() {

      webix.ui({
        container: "content_container",
        type: "wide",
        width: 1200,
        rows: [contactQueryPanel, csvExportTable]
      });

      contactQueryPanelCtlr.init();
      csvExportTableCtlr.init();
    });

  </script>
{% endblock %}
