{% extends 'home.html' %}

{% block styles %}
  {{ super() }}
	<style>
    .toolbarRadio .webix_label_right { color: white; }
    .check {
      float: right;
      margin: 7px;
    }
  .check:hover {
    color: #3498db;
  }
	</style>
{% endblock %}

{% block content %}
  <div id="content_container"></div>
{% endblock %}

{% block scripts %}
  {{ super() }}

  <script>
    var missing = {{ missing|tojson }};
    var wrong_names = {{ wrong_names|tojson }}
    var lookupVoter = null;
  </script>

  <script src="{{ url_for('static', filename='js/ajax_dao.js') }}"></script>
  <script src="{{ url_for('static', filename='js/helpers.js') }}"></script>
  <script src="{{ url_for('static', filename='js/names_line.js') }}"></script>
  <script src="{{ url_for('static', filename='js/address_line.js') }}"></script>
  <script src="{{ url_for('static', filename='js/voter_form_panel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/voter_match_panel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/voter_lookup_panel.js') }}"></script>

  <script type="text/javascript" charset="utf-8">

    var missingView = {
      id: "missingView",
      rows: [conMissingVoterIdPanel]
    };

    var wrongNameView = {
      id: "wrongNameView"
{#      rows: [conWrongNamePanel]#}
    };

    webix.ready(function() {

      webix.ui({
{#        container: "content_container",#}
{#        type: "wide",#}
{#        autowidth: true,#}
        rows: [
          {
            rows: [
              {
                view: "segmented",
                id: "conProblemsTabBar",
                value: "missingView",
                multiview: "true",
                optionWidth: 80,
                align: "center",
                padding: 5,
                options: [
                  {value: "Missing Voter ID", id: "missingView"},
                  {value: "Wrong Voter Name", id: "wrongNameView"}
                ]
              },
              {height: 5},
              {
                cells: [missingView, wrongNameView]
              }
            ]
          }
        ]
      });

      conMissingVoterIdPanelCtlr.init();
{#      conWrongNamePanelCtlr.init();#}
    });

  </script>
{% endblock %}
