{% extends 'layout.html' %}

{% block content %}
  <table border="0" style="margin-left: 20px; margin-top: 20px">
    <tr>
      <td rowspan="4"><img src="{{ url_for('static', filename='img/blue_streets.png') }}" /></td>
      <td rowspan="4"><img src="{{ url_for('static', filename='img/adlai_button.jpg') }}" /></td>
      <td align="center" valign="bottom">A product of</td>
    </tr>
    <tr>
      <td> <img src="{{ url_for('static', filename='img/cowboy.png') }}" /> </td>
    </tr>
    <tr>
      <td align="center"><img src="{{ url_for('static', filename='img/vcb_logo_80_112_2.jpg') }}" /></td>
    </tr>
    <tr>
      <td align="center" valign="top">All rights reserved.</td>
    </tr>
  </table>
{% endblock %}
