{% extends 'layout.html' %}

{% block content %}
  <div id="content_container"></div>
{% endblock %}

{% block scripts %}
  {{ super() }}

  <script>
    var types = {{ types|tojson }};
    var jurisdictions = {{ jurisdictions|tojson }};
    var juris_names = {{ juris_names|tojson }};
    var wards = {{ wards|tojson }};
    var precincts = {{ precincts|tojson }};
    var pct_names = {{ pct_names|tojson }};
    var state_house_districts = {{ state_house_districts|tojson }};
    var state_senate_districts = {{ state_senate_districts|tojson }};
    var congressional_districts = {{ congressional_districts|tojson }};
    var neighborhoods = {{ neighborhoods|tojson }};
  </script>

  <script src="{{ url_for('static', filename='js/ajax_dao.js') }}"></script>
  <script src="{{ url_for('static', filename='js/helpers.js') }}"></script>
  <script src="{{ url_for('static', filename='js/turf/precinct_panel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/turf/street_panel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/turf/block_panel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/turf/turf_panel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/turf/turf_popup.js') }}"></script>
  <script src="{{ url_for('static', filename='js/turf/neighborhood_panel.js') }}"></script>

  <script type="text/javascript" charset="utf-8">

    webix.ready(function() {

      webix.ui(turfPopup);

      webix.ui({
        container: "content_container",
        rows: [neighborhoodPanel]
      });

      turfPopupCtlr.init();
      neighborhoodPanelCtlr.init();
    });

  </script>
{% endblock %}
