{% extends 'home.html' %}

{% block content %}
  <div id="content_container"></div>
{% endblock %}

{% block scripts %}
  {{ super() }}

  <script type="text/javascript">
    var users = {{ users|tojson }};
    var roles = {{ roles|tojson }};
    var jurisdictions = {{ jurisdictions|tojson }};
    var jurisdictionDict = {};
    var precincts = {{ precincts|tojson }};
    var precinctDict = {};
    var precinct_admins = {{ precinct_admins|tojson }};
    var precinctAdminDict = {};
    var selectedUser = null;
    var fromPrecintAdmin = false;
  </script>

  <script src="{{ url_for('static', filename='js/ajax_dao.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jurisdiction_panel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/precinct_panel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/user_panel.js') }}"></script>

  <script type="text/javascript" charset="utf-8">

    webix.ready(function() {

      webix.ui({
        container: "content_container",
        type: "space",
        cols: [
            userPanel
        ]
      });

      userPanelCtlr.init();
    });

  </script>
{% endblock %}
