{% extends 'layout.html' %}

{% block content %}
  <div id="content_container"></div>
{% endblock %}

{% block scripts %}
  {{ super() }}

  <script>
    var precincts = {{ precincts|tojson }};
    var data_path = {{ data_path|tojson }};
    var caller = "import";
  </script>

  <script src="{{ url_for('static', filename='js/ajax_dao.js') }}"></script>
  <script src="{{ url_for('static', filename='js/helpers.js') }}"></script>
  <script src="{{ url_for('static', filename='js/turf/precinct_panel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/turf/street_panel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/turf/block_panel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/turf/turf_panel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/contacts/inserts_panel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/contacts/contact_panel.js') }}"></script>

  <script type="text/javascript" charset="utf-8">

    webix.ready(function() {

      webix.ui({
        container: "content_container",
        rows: [conPanel]
      });

      conPanelCtlr.init();
    });

  </script>
{% endblock %}
