{% extends 'layout.html' %}

{% block content %}
  <div id="content_container"></div>
{% endblock %}

{% block scripts %}
  {{ super() }}

  <script>
    var jurisdictions = {{ jurisdictions|tojson }};
  </script>

  <script src="{{ url_for('static', filename='js/ajax_dao.js') }}"></script>
  <script src="{{ url_for('static', filename='js/helpers.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jurisdiction_panel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/ward_panel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/precinct_panel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/street_panel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/block_panel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/turf_panel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/contacts/grid_panel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/contacts/api_import_panel.js') }}"></script>

  <script type="text/javascript" charset="utf-8">

    webix.ready(function() {

      webix.ui({
        container: "content_container",
        rows: [conApiImportPanel]
      });

      conApiImportPanelCtlr.init();
    });

  </script>
{% endblock %}
